.register-form-container {
	padding-right: 12px;
	max-height: calc(100vh - 70px - 100px - 100px - 16px - 3.34em);
	overflow-y: overlay;
	overflow-x: hidden;
}

.register-form-container::-webkit-scrollbar {
	width: 8px;
	border-radius: 0.5em;
	background: #e8e8e8;
	transition: 0.2s;
}

.dark-theme .register-form-container::-webkit-scrollbar {
	background: #2a2a2a;
}

.register-form-container::-webkit-scrollbar-thumb {
	background: var(--blue);
	border-radius: 1em;
}

.register-form-container h2 {
	font-size: 1.3em;
	font-weight: 500;
}

.register-form-error-container p {
	color: #ff0000;
}

.register-image-input-container .register-image-input-label {
	margin: 0;
	margin-left: 4px;
	margin-bottom: 8px;

	color: #777;
	text-align: left;
}

.register-image-input-container button {
	position: relative;
	padding: 0;
	border: 0;
	border-radius: 4px;

	width: 100%;

	background: rgba(0, 0, 0, 0);
	transition: 0.2s;
}

.register-image-input-container button:hover {
	cursor: pointer;
	filter: brightness(0.8);
}

.register-image-input-container img {
	border-radius: inherit;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.register-image-input-container svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	fill: var(--blue);
	min-height: 60px;
}

.register-background-image-blank-input {
	display: block;
	content: "";
	border-radius: inherit;

	background: var(--blue);
	width: 100%;
	height: 150px;
}

.register-profile-picture-input-container button {
	height: 60px;
}

.register-profile-picture-input-container img {
	width: 60px;
	height: 60px;
	object-fit: cover;
	border-radius: 100%;
}

.register-form-switch-btn-container {
	margin: 16px auto;
	text-align: right;
}

.register-form-switch-btn-container button {
	margin: 0 4px;
	padding: 8px 16px;
	border: 0;
	border-radius: 4px;

	vertical-align: middle;
	background: #e8e8e8;
	color: var(--blue);
	font-size: 1em;
	transition: 0.2s;
}

.register-form-switch-btn-container button svg {
	vertical-align: middle;
	margin-top: -1px;
	font-size: 1.4em;
}

.register-form-switch-btn-container button:hover {
	cursor: pointer;
	background: var(--blue);
	color: #fff;
}
