.register-page {
	position: relative;

	width: 100%;
}

.register-container {
	margin: 0 auto;
	margin-top: 100px;
	padding: 8px 24px;
	border-radius: 8px;

	width: 100%;
	max-width: 450px;

	background: #fff;
}

.register-container h1 {
	color: var(--blue);
	font-weight: 500;
}

.register-input-container {
	margin: 16px auto;

	width: 100%;
}

.register-input-container .input {
	width: calc(100% - 40px);
}

.register-input-container .text-area {
	width: calc(100% - 40px);
}

.register-submit-container {
	margin: 16px auto;
	text-align: right;
}

.register-submit-container button {
	margin: 0 4px;
	padding: 8px 16px;
	border: 0;
	border-radius: 4px;

	vertical-align: middle;
	background: #e8e8e8;
	color: var(--blue);
	font-size: 1em;
	transition: 0.2s;
}

.register-submit-container button:hover {
	cursor: pointer;
	background: var(--blue);
	color: #fff;
}

.register-submit-container button p {
	display: inline-block;
	margin: 0;

	vertical-align: middle;
	font-size: 1em;
}

.register-submit-container button svg {
	display: inline-block;
	margin-top: -1px;
	margin-left: 0.4em;

	vertical-align: middle;
	font-size: 1.4em;
}

.register-submit-container .loading {
	width: 100%;
	height: 80px;
}

.register-submit-container .loading svg {
	margin-top: 0;
}
