.messages-list-container {
	display: inline-block;
	margin: 0 auto;
	padding: 0;

	width: 100%;

	vertical-align: top;
}

.messages-list {
	margin: 0;
	margin-left: auto;
	padding: 0;

	width: 100%;

	vertical-align: top;
	text-align: left;
}

.messages-list-search-bar {
	margin: 20px 0;
	border-radius: 8px;

	width: 100%;
}

.messages-list-search-bar .input {
	width: calc(100% - 32px - 8px);
}

.messages-list-items-container {
	margin-top: 1rem;
	padding: 0;
}
