.groups-page .page-title {
	background: linear-gradient(90deg, #00b2ca, #1d4e89);
	background: linear-gradient(90deg, #4ded30, #00ab08);
}

.groups-container {
	width: calc(100% + 20px);
	margin-left: -10px;
	text-align: left;
}
