.login-container {
	margin: 0 auto;
	margin-top: 100px;
	padding: 8px 24px;
	border-radius: 8px;

	width: 100%;
	max-width: 450px;

	background: var(--grey1);
}

.login-container h1 {
	color: var(--blue);
	font-weight: 500;
}

.login-input-container {
	margin: 16px auto;

	width: 100%;
}

.login-input-container .input {
	width: calc(100% - 40px);
}

.login-submit-container {
	margin: 16px auto;
	text-align: right;
}

.login-submit-container button {
	margin: 0 4px;
	padding: 8px 16px;
	border: 0;
	border-radius: 4px;

	vertical-align: middle;
	background: var(--grey2);
	color: var(--blue);
	font-size: 1rem;
	transition: 0.2s;
}

.login-submit-container button:hover {
	cursor: pointer;
	background: var(--blue);
	color: #fff;
}

.login-submit-container button p {
	display: inline-block;
	margin: 0;

	vertical-align: middle;
	font-size: 1rem;
}

.login-submit-container button svg {
	display: inline-block;
	margin-left: 0.4rem;

	vertical-align: middle;
	font-size: 1.25rem;
}

.login-submit-container .loading {
	width: 100%;
	height: 36px;
}

.login-submit-container .loading svg {
	margin-top: -22px;
	transform: scale(0.45);
	vertical-align: middle;
}

.login-error-container p {
	color: #ff0000;
}
