.chats-top {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0 16px;
	border-radius: 8px;

	width: calc(100% - 18px - 32px);
	height: 70px;

	background: var(--messagesGradient);
	text-align: left;
}

.chats-top p {
	margin: 0;
	margin-left: 5px;

	font-size: 1.8rem;
	font-weight: 700;
	text-align: left;
}

.chats-list {
	margin: 0;
	margin-left: auto;
	padding: 0;

	height: calc(100vh - 10px - 70px - 20px);

	vertical-align: top;
	text-align: left;
}

.chats-list-search-bar {
	margin: 20px 0;
	border-radius: 8px;
	padding-right: 18px;
	width: calc(100% - 18px);
}

.chats-list-search-bar .input {
	width: calc(100% - 32px - 8px);
}

.chats-list-items-container {
	margin-top: 0;
	padding-right: 18px;
	width: calc(100% - 18px);
	height: calc(100vh - 10px - 70px - 20px - 65px - 20px - 1em);
	overflow-y: overlay;
}

.chats-list-items-container .chat-item:first-child {
	margin-top: 0;
}
