.user-groups{
    width: 100%;
}

.user-groups .user-groups-container{
    margin: 0 auto;

    width: calc(100% - 20px);

    vertical-align: middle;
    text-align: center;
}

.user-groups .user-groups-container .user-group-item{
    position: relative;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;

    width: calc(50% - 20px);
    max-width: 440.5px;
    text-align: left;
}

@media(max-width: 1400px){
    .user-groups .user-groups-container .user-group-item{
        width: calc(100% - 20px);
    }
}

.user-groups .user-groups-container .user-group-item .user-group-item-image{
    border-radius: inherit;

    width: 100%;
}

.user-groups .user-groups-container .user-group-item .user-group-item-info{
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
    border-radius: 0 0 10px 10px;

    width: calc(100% - 40px);

    background: #e8e8e8;
    color: #777;
}

.user-groups .user-groups-container .user-group-item .user-group-item-names{
    display: inline-block;
    vertical-align: middle;
}

.user-groups .user-groups-container .user-group-item .user-group-item-names p{
    margin: 4px 0;
}

.user-groups .user-groups-container .user-group-item .user-group-item-names .user-group-item-nickname{
    font-weight: 700;
}

.user-groups .user-groups-container .user-group-item .user-group-item-members{
    float: right;
    text-align: center;
    vertical-align: middle;
}

.user-groups .user-groups-container .user-group-item .user-group-item-members .user-group-item-value{
    margin: 0;
    font-size: 1.4em;
}

.user-groups .user-groups-container .user-group-item .user-group-item-members .user-group-item-label{
    margin: 0;
    margin-top: 2px;
    font-size: 0.9em;
}