.user-item {
	position: relative;
	margin: 12px 0;
	padding: 16px;
	border: 0;
	border-radius: 8px;

	width: calc(100% - 32px);

	background: var(--grey2);
	color: #fff;
	transition: 0.2s;
}

.user-item:hover {
	cursor: pointer;
	background: var(--blue);
}

.user-item-profile-picture {
	display: inline-block;
	width: 50px;
	height: 50px;
	vertical-align: middle;
}

.user-item-profile-picture svg {
	fill: var(--blue);
	transition: 0.2s;
}

.user-item-profile-picture img {
	border-radius: 100%;
	width: 50px;
	height: 50px;
	object-fit: cover;
	vertical-align: middle;
}

.user-item:hover .user-item-profile-picture svg {
	fill: #fff;
}

.user-item-names {
	display: inline-block;
	margin-left: 0.8em;

	width: 20%;
	max-width: 300px;

	vertical-align: middle;
	font-size: 0.9em;
}

@media (max-width: 1000px) {
	.user-item-names {
		width: calc(50% - 50px - 0.8em);
		max-width: 50%;
	}
}

@media (max-width: 600px) {
	.user-item-names {
		width: calc(100% - 50px - 0.8em);
		max-width: 100%;
	}
}

.user-item-nickname,
.user-item-username,
.user-item-status {
	margin: 0;
	font-size: 1.05em;
	transition: 0.2s;
}

.user-item-nickname {
	font-weight: 700;
}

.user-item-username {
	font-size: 1em;
}

.user-item-second-info {
	display: inline-block;

	width: 30%;
	max-width: 350px;

	font-size: 0.9em;
	vertical-align: middle;
}

@media (max-width: 1000px) {
	.user-item-second-info {
		width: 50%;
		max-width: 50%;
	}
}

@media (max-width: 600px) {
	.user-item-second-info {
		display: none;
	}
}

.user-item-second-info p {
	margin: 0;
}

.user-item-bio {
	margin-bottom: 10px;
}

.user-item-status {
	margin-top: 8px;
	font-size: 0.88em;
}

.user-item-status-online {
	font-weight: 700;
}

.user-item-with-background-image .user-item-status-online {
	color: #5fff87;
}

.user-item-without-background-image .user-item-status-online {
	color: #00fc3f;
}

.user-item-with-background-image .user-item-status-offline {
	color: #df8787;
}

.user-item-without-background-image .user-item-status-offline {
	color: #e60000;
}

.user-item-compatibility {
	display: inline-block;

	vertical-align: middle;
	text-align: center;
	font-size: 1em;
}

.user-item-compatibility-label {
	display: inline-block;
	margin: 0;
}

.user-item-compatibility-value {
	display: inline-block;
	margin: 0;
	margin-top: 0.25em;
}

.user-item:hover .user-item-compatibility-value {
	color: #fff !important;
}

.user-item-compatibility-value-very-low {
	color: #d33030;
}

.user-item-compatibility-value-low {
	color: #d37f30;
}

.user-item-compatibility-value-medium {
	color: #d3c830;
}

.user-item-compatibility-value-high {
	color: #30d368;
}

.user-item-compatibility-value-very-high {
	color: #0077ff;
}

.user-item-banner-container {
	float: right;
	position: relative;
	margin-top: -16px;
	margin-right: -16px;
	border-radius: 0 8px 8px 0;

	width: 40%;
	height: 82px;
}

@media (max-width: 1000px) {
	.user-item-banner-container {
		display: none;
	}
}

.user-item-banner-container .user-item-banner {
	display: inline-block;
	border-radius: inherit;

	width: 100%;
	height: 100%;
	object-fit: cover;
}

.user-item-banner-container .user-item-banner-hover-filter {
	position: absolute;
	display: inline-block;
	content: "";
	border-radius: inherit;

	width: 0%;
	height: 100%;

	background: var(--blue);
	opacity: 0;
	transition: 0.2s;
}

.user-item:hover .user-item-banner-container .user-item-banner-hover-filter {
	width: 100%;
	opacity: 1;
}
