:root {
	--blue: #0077ff;
	--green: #00ff77;
	--gold: #ccaa00;
	--red: #ff0000;
	--grey1: #0a0a0a;
	--grey1: #111111;
	--grey2: #1f1f1f;
	--grey3: #404040;
	--profileGradient: linear-gradient(90deg, #caccd1, #81838a); /* Light Grey */
	--interestsGradient: linear-gradient(90deg, #2c87ff, #1a23a1); /* Darker Blue */
	--messagesGradient: linear-gradient(90deg, #30b2f2, #216cdb); /* Lighter Blue */
	--meetGradient: linear-gradient(90deg, #ff5c00, #ff00b8); /* Red to Pink */
	--friendsGradient: linear-gradient(90deg, #5adb43, #096b0e); /* More Saturated Green */
	--friendsGradient: linear-gradient(90deg, #1ed3a6, #197e43); /* Less Saturated Green */
	--groupsGradient: linear-gradient(90deg, #e100ff, #6900d1); /* Pink to Purple */
	--settingsGradient: linear-gradient(90deg, #737b80, #292f33); /* Dark Grey */
}

::-webkit-scrollbar {
	width: 8px;
	border-radius: 0;
	background: var(--grey2);
	transition: 0.2s;
}

::-webkit-scrollbar-thumb {
	background: var(--blue);
	border-radius: 4px;
}

::selection {
	color: #fff;
	background: #0044ff;
}

@import url("https://fonts.googleapis.com/css?family=Inter:regular,bold,italic");

.app-background {
	position: absolute;
	z-index: -2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	width: calc(100vw + 4px);
	height: calc(100vh + 4px);
}

.unauthorised .app-background {
	background: linear-gradient(135deg, #396afc, #2948ff);
}

.authorised .app-background {
	background: var(--grey1);
}

.App {
	margin: 0 auto;
	border: 0;

	width: 100%;
	height: 100vh;

	text-align: center;
	font-size: 1rem;
	color: #fff;
	font-family: "Inter", sans-serif;
}

button:focus {
	outline: 0;
	background: var(--blue);
	color: #fff;
}
