:root {
	--blue: #0077ff;
	--grey1: #0a0a0a;
	--grey1: #111111;
	--grey2: #1f1f1f;
	--grey3: #282828;
}

@import url("https://fonts.googleapis.com/css?family=Inter:regular,bold,italic");

.unauthorised {
	background: linear-gradient(135deg, var(--blue), #ee32ff);
}

.authorised {
	background: var(--grey1);
}

.App {
	margin: 0 auto;
	border: 0;

	width: 100%;
	/* max-width: 1600px; */
	height: 100vh;

	text-align: center;
	font-size: 1em;
	color: #fff;
	font-family: "Inter", sans-serif;
}
