.chat-input-container {
	position: relative;
	min-height: 60px;
}

.chat-input-container .chat-input {
	margin: 0;
	margin-bottom: 10px;
	padding: 8px 16px;
	border: 4px solid rgba(0, 0, 0, 0);
	border-radius: 12px;

	width: calc(100% - 50px - 10px - 32px - 8px) !important;
	min-height: calc(1em + 4px) !important;
	overflow: hidden;
	resize: none;

	background: var(--grey2);
	color: #fff;
	font-size: 1em;
	font-family: "Inter", sans-serif;
	word-wrap: break-word;
	transition: 0.1s;
	vertical-align: middle;
}

.chat-input-container .chat-input:focus {
	outline: 0;
	border-color: var(--blue);
}

.chat-input-container .chat-input-text {
	position: absolute;
	z-index: -1;
	visibility: hidden;
	min-height: 1em;
	overflow: hidden;
	word-wrap: break-word;
	font-size: 1em;
	font-family: "Inter", sans-serif;
	padding: 8px 16px;
	border: 4px solid rgba(0, 0, 0, 0);
	width: calc(100% - 50px - 10px - 32px - 8px) !important;
}

.chat-input-container .chat-input-text p {
	margin: 0;
	height: 20px;
}

.chat-input-btn {
	display: inline-block;
	margin-left: 10px;
	border: 0;
	border-radius: 100%;

	width: 50px;
	height: 50px;

	background: var(--grey2);
	color: var(--blue);
	font-size: 1.2em;
	vertical-align: top;
	transition: 0.2s;
}

.chat-input-btn:hover {
	cursor: pointer;
	background: var(--blue);
	color: #fff;
}

.chat-input-btn svg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	margin-left: 8px;
}

.chat-input-btn-sending svg {
	animation: send-btn-animation 0.9s 1 ease-in;
}

@keyframes send-btn-animation {
	0% {
		margin-top: 0px;
		margin-left: 8px;
		opacity: 1;
	}
	26% {
		margin-top: -35px;
		margin-left: 30px;
		opacity: 0;
	}
	52% {
		margin-top: 35px;
		margin-left: -22px;
		opacity: 0;
	}
	80% {
		margin-top: 0px;
		margin-left: 8px;
		opacity: 1;
	}
}
