.chat-page {
	margin: 0 auto;
	margin-top: 10px;
	padding: 0;
	width: calc(100% - 40px);
	max-width: 100%;
}

.chats-container {
	display: inline-block;
	margin-right: 10px;
	width: calc(40% - 10px);
	vertical-align: top;
}

.chat-container {
	display: inline-block;
	width: 60%;
	vertical-align: top;
}
