.friends-list-container{
    display: inline-block;
    margin: 0;
    margin-right: 20px;
    padding: 0;
    border: 0 solid #e8e8e8;
    border-width: 0 0 0 2px;

    height: 100vh;
    width: 400px;

    vertical-align: top;
    text-align: right;
}

.friends-list{
    margin: 0;
    margin-left: auto;
    padding: 0;

    height: 100vh;
    width: 380px;

    vertical-align: top;
    text-align: left;
}


.friends-list-search-bar{
    margin: 8px auto;
    padding: 8px 10px;
    border-radius: 18px;

    background: #e8e8e8;
}

.friends-list-search-bar input{
    display: inline-block;

    width: calc(100% - 20px - 6px);
    font-size: 0.9em;
}

.friends-list-items-container{
    margin-top: 1em;
}

.friends-list-item{
    position: relative;
    margin: 12px 0;
    padding: 0;
    border: 0;
    border-radius: 8px;

    height: 74px;

    color: #000;
}

.friends-list-item-with-background-image{
    color: #fff;
}

.friends-list-item-divider{
    display: block;
    content: '';
    
    width: 100%;
    height: 4px;
    background: #e8e8e8;
}

.friends-list-item:hover{
    cursor: pointer;
}

.friends-list-item-background-container{
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: inherit;
    
    height: 100%;
    width: 100%;
}

.friends-list-item-background{
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: inherit;

    height: 100%;
    width: 100%;

    object-fit: cover;
    filter: brightness(0.6);
    transition: 0.2s;
}

.friends-list-item:hover .friends-list-item-background{
    filter: brightness(0.4);
}

.friends-list-item-foreground{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 12px;
    border-radius: 12px;
    
    height: calc(100% - 16px);
    width: calc(100% - 24px);
}

.friends-list-item-profile-picture{
    display: inline-block;
    vertical-align: middle;
}

.friends-list-item-names{
    display: inline-block;
    margin-left: 0.8em;
    vertical-align: middle;
    font-size: 0.9em;
}

.friends-list-item-nickname,
.friends-list-item-username,
.friends-list-item-status{
    margin: 0;
}

.friends-list-item-with-background-image:hover .friends-list-item-nickname,
.friends-list-item-with-background-image:hover .friends-list-item-username,
.friends-list-item-with-background-image:hover .friends-list-item-status{
    color: #eee;
}

.friends-list-item-status{
    margin-top: 8px;
}

.friends-list-item-status svg{
    margin-right: 0.25em;
    vertical-align: middle;
    font-size: 1.1em;
}