.profile-interests {
	margin: 10px 0;
	margin-left: -10px;
	width: calc(100% + 20px);
	vertical-align: middle;
	text-align: left;
}

.profile-interests-title {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 10px 0.5rem;
	padding: 0 16px;
	border-radius: 8px;

	width: calc(100% - 18px - 32px);
	height: 70px;

	background: var(--interestsGradient);
	text-align: left;
}

.profile-interests .profile-interests-container {
	width: 100%;
}
