.profile-groups {
	margin: 10px 0;
	margin-left: -10px;
	width: calc(100% + 20px);
	vertical-align: middle;
	text-align: left;
}

.profile-groups-title {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 10px 0.5rem;
	border-radius: 8px;

	width: 150px;
	height: 60px;

	background: var(--groupsGradient);
	text-align: center;
}

.profile-groups .profile-groups-container {
	width: 100%;
}
