.profile-interests {
	margin: 10px 0;
	margin-left: -10px;
	width: calc(100% + 20px);
	vertical-align: middle;
	text-align: left;
}

.profile-interests-title {
	display: inline-flex;
	justify-content: center;
	flex-direction: column;
	margin: 10px 0.5rem;
	border-radius: 8px;

	width: 150px;
	height: 60px;

	background: var(--interestsGradient);
	text-align: center;
	vertical-align: middle;
}

.profile-interests-find-btn {
	display: inline-block;
	margin: 10px 0.5rem;
	padding: 10px 12px;
	border-radius: 8px;

	background: var(--grey1);
	color: var(--blue);
	vertical-align: middle;
	transition: 0.2s;
}

.profile-interests-find-btn:hover {
	cursor: pointer;
	background: var(--grey2);
	background: var(--blue);
	color: #fff;
}

.profile-interests .profile-interests-container {
	width: 100%;
}

.profile-show-interests-btn-container {
	margin: 12px auto;
	width: 100%;
	text-align: center;
}

.profile-show-interests-btn-container button {
	padding: 8px 12px;
	border: 0;
	border-radius: 8px;

	background: rgba(0, 0, 0, 0);
	color: #fff;
	font-size: 1rem;
	text-align: center;
	vertical-align: middle;
	transition: 0.2s;
}

.profile-show-interests-btn-container button:focus {
	background: rgba(0, 0, 0, 0);
	color: #fff;
}

.profile-show-interests-btn-container button:hover {
	cursor: pointer;
	background: var(--blue);
}
